<!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->

@import url('(https://fonts.google.com/specimen/Josefin+Sans');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


* {
    font-family: 'Josefin+Sans' , sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
   
}

.bg-image{
    background-image: url('images/hero-desktop.jpg');
    background-size: cover;
    background-position: center center;
}

.logo {
    margin: 60px 0;
    width: 200px;
}